doctype html
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    title Document
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    h1 Charts and stuff
    .container
      canvas#myChart(width='600', height='400')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
